* { box-sizing: border-box; }

body {
	background-color: #fffeea;
	color: #34495e;
	padding-top: 10px;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
}

.nav {
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 0 10px 0;
}

.nav ul {
	float: right;
	padding-left: 0;
}

.nav ul li { display: inline-block; }

.nav ul li a {
	padding: 0 10px;
	color: white;
	font-family: "Oswald", "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.nav a {
	float: left;
	padding: 16px 10px;
	color: white;
	font-family: "Oswald", "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.nav a:hover {
	color: #f7325f;
	text-decoration: none;
}

.header { margin-bottom: 40px; }

.header h1{ text-align: center; }

.image { display: inline-block; }

.column {
	display: inline-block;
	float: left;
	width: 30%;
	padding: 0 20px;
}









