* { box-sizing: border-box; }

body {
	background-image: url(../img/landscape_small.jpg);
	background-size: cover;
}

.nav {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 0 10px 0;
}

.nav ul {
	float: right;
	padding-left: 0;
}

.nav ul li { display: inline-block; }

.nav ul li a {
	padding: 0 10px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 1.2em;
	font-family: Boogaloo, "Helvetica Neue", Arial, sans-serif;
}

.nav a {
	float: left;
	padding: 16px 10px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 1.2em;
	font-family: Boogaloo, "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
	
}

.nav a:hover {
	color: #f7325f;
	text-decoration: none;
}

.container {
	width: 80%;
	margin: 0 auto;
	color: white;
	padding-top: 50px;
}

.header {
	text-align: center;
}

.header {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1.5em;
}

.mainpanel {
	text-align: center;
}

.mainpanel p {
	padding-top: 10px;
	padding-bottom: 10px;
}

.email a { 
	text-decoration: none;
	color: white;
	font-size: 2em;
	font-family: Boogaloo, Futura, Helvetica, Arial, sans-serif;
}

.address {
	font-size: 1.4em;
	font-family: Boogaloo, Futura, Helvetica, Arial, sans-serif;

}

/*Typography*/
h1,
h2,
h3 {
	font-family: Boogaloo, Futura, Helvetica, Arial, sans-serif;
}
